{% extends "layout.html" %}
{% block body %}
<h2 class="text-center">Active Listings</h2>
{% for auction in auctions_list %}

<div class="card mb-3" style="max-width: 80%;margin-left: 90px;">
    <div class="row g-0">
        <div class="col-md-4">
            <a href="{% url 'listing_detail' auction.pk %}">
                <img src="{{auction.image}}" class="img-fluid rounded-start" alt="{{auction.title}}">

        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{auction.title}}</h5>
                </a>

                <p class="card-text">{{auction.description|linebreaks}}</p>
                <p>Price: {{auction.starting_bid}}$</p>
                <p class="card-text"><small class="text-muted">created: {{auction.date_added|date:'l, F j '}}</small>
                </p>
            </div>
        </div>
    </div>
</div>
{% empty %}
<h2 style="text-align: center; color: teal;">Start Your Shopping Now!</h2>
{% endfor %}

<!-- <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item disabled">
            {% if page_obj.has_previous %}
            <a class="page-link" href="?page=1">&laquo;First</a>
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}
        </li>
        <span class="page-item">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
        <li class="page-item">
            {% if page_obj.has_next %}
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last&raquo;</a>
            {% endif %}
        </li>
    </ul>
</nav> -->

<div class="pagination justify-content-center">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}