{% extends "layout.html" %}
{% block body %}
<h2>Categories</h2>
<form action="{% url 'categories' %}" method="post">
    {% csrf_token %}
    <select name="categories">
        {% for value in values %}
        <option value={{value}}>{{value.title}}</option>
        {% endfor %}
    </select>
    <input type="submit" class="btn btn-primary">
</form>
<h6>Categories</h6>
{% for auction in auctions %}
<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            <a href="{% url 'listing_detail' auction.pk %}">
                <img src="{{auction.image}}" class="img-fluid rounded-start" alt="{{auction.title}}">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{auction.title}}</h5>
                </a>
                <p class="card-text">{{auction.description|linebreaks}}</p>
                <p>Price: {{auction.starting_bid}}$</p>
                <p class="card-text"><small class="text-muted">created: {{auction.date_added|date:'l, F j '}}</small>
                </p>
            </div>
        </div>
    </div>
</div>
{% empty %}
<h2 style="text-align: center; color: teal;">Start Your Shopping Now!</h2>
{% endfor %}
</ul>
{% endblock %}