
ul {
  list-style-type: none;
  overflow: hidden;
}

li {
  float: right;
}

li a {
  color: #000;
  display: block;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size:14px;
}


li a:hover {
  text-decoration: underline;
}


.ll {

  border-bottom: 1px solid #ebebeb;
}


.grid{
  height:23px;
  position:relative;
  bottom:4px;
}


.images_word {

  color: #4285f4;
  font: 16px/16px roboto-regular, arial, sans-serif;
  left: 215px;
  top: 76px;
  white-space: nowrap;


}


.camera {
  height:20px;
  position:relative;
  top:0px;
  left:-15px;
}

.search_btn {
position: absolute;

top: 0px;
left: 0px;
background-color: transparent;
}

.logo{
  margin-top:200px;
  margin-bottom:20px;
}


.bar{
  margin:0 auto;
  width:575px;
  border-radius:30px;
  border:1px solid #dcdcdc;
}


.bar:hover{
  box-shadow: 1px 1px 8px 1px #dcdcdc;
}


.bar:focus-within{
  box-shadow: 1px 1px 8px 1px #dcdcdc;
  outline:none;
}



.searchbar{

  height:45px;
  border:none;
  width:500px;
  font-size:16px;
  outline: none;

}

.buttons{
  margin-top:30px;
}


.button{
  background-color: #f5f5f5;
  border:none;
  color:#707070;
  font-size:15px;
  padding: 10px 20px;
  margin:5px;
  border-radius:4px;
  outline:none;
}


.button:hover{
  border: 1px solid #c8c8c8;
  padding: 9px 19px;
  color:#808080;
}


.button:focus{
  border:1px solid #4885ed;
  padding: 9px 19px;
}

.as_img {

   height: 24px;
   width: 74px;
}

.as_lable {

  margin-left:10px;
  color: #d93025;
  font-size: 20px;
  margin: 25px 35px;
  margin-bottom:30px;
  vertical-align: middle;
}




.tr {
  position: absolute;
  top: -5px;
  right: 15px;

  }



.l_s {

  font-family: arial,sans-serif;
  font-size: 13px;
  margin-left: 35px;
}


.advanced {

width: 35%;
margin-left:50px;
margin-top: 20px;
height: 20px;

}



#instruction {
  color: #666;
  font-family: monospace;
  font-size: 16px;
  position: absolute;
  margin-left: 648px;
  margin-top: 265px;
  display: table-cell;
  vertical-align: middle;
  font-family: arial,sans-serif;
}


.l_f {

  color: #666;
  font-family: monospace;
  font-size: 11px;
  margin-left: 35px;

}


.as_empty {

margin-left: 35px;
margin-top: 15px;

}

.as_btn {

  position: absolute;
  background-color: #3079ed;
  border:none;
  color:#fff;
  font-size:15px;
  padding: 10px 20px;
  margin:5px;
  border-radius:4px;
  outline:none;
  top: 50%;
  right: 60%;
  margin-top: 45px;
  right: 610px;

}


.as_btn:hover{
  border: 1px solid darkblue;
  padding: 9px 19px;
  color:#fff;
}


.as_btn:focus{
  border:1px solid #fff;
  padding: 9px 19px;
}
