.pagination {
    display: inline-block;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
}

a.follow {
    color: #1DA1F2
    float: right;
    margin-top: 13px;
    margin-right: 75%;
}


.wrapper {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e1e8ed;
    border-radius: 25px;
    height: auto;
    width: 100%;
    max-width: 340px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, .09);
}

.main-wrapper {
    border-radius: 4px 4px 0px 0px;
    height: 45px;
    width: 100%;
}

#profile-link {
    background-color: #fff;
    border-radius: 6px;
    display: inline-block;
    float: left;
    margin: -30px 5px 0px 8px;
    max-width: 100%;
    padding: 1px;
    vertical-align: bottom;
}

#profile-img {
    border: 2px solid #fff;
    border-radius: 25px;
    color: #fff;
    height: 72px;
    width: 72px;
}

#profile-marg {
    margin: 5px 0px 0px;
}

#profile-name {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
}

#profile-name a {
    color: inherit;
}

#profile-state {
    padding: 15px;
}

#profile-Arrange {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    min-width: 100%;
    padding: 0px;
}

ul#profile-Arrange {
    list-style: none;
    margin: 0;
    padding: 0;
}

#profile-details a:hover {
    text-decoration: none;
}

#profile-number {
    display: block;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.15s ease-in-out 0s;
}

#profile-label {
    color: #8899a6;
    font-size: 10px;
    letter-spacing: 0.02em;
    overflow: hidden;
    text-transform: uppercase;
    transition: color 0.15s ease-in-out 0s;
}

<style>.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}



img {
    max-width: 100%;
}

.avator {
    border-radius: 100px;
    width: 48px;
    margin-right: 15px;
}


.tweet-wrap {
    max-width: 490px;
    background: #fff;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 3px;
    padding: 30px;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
}

.tweet-header {
    display: flex;
    align-items: flex-start;
    font-size: 17px;
}

.tweet-header-info {
    font-weight: bold;
}

.tweet-header-info span {
    color: #657786;
    font-weight: normal;
    margin-left: -5px;
}

.tweet-header-info p {
    font-weight: normal;
    margin-top: 5px;

}



.tweet-img-wrap {
    padding-left: 60px;
}

.tweet-info-counts {
    display: flex;
    margin-left: 73px;
    margin-top: 10px;
}

.tweet-info-counts div {
    display: flex;
    margin-right: 8.5rem;
    margin-top: 5px;
}

.tweet-info-counts div svg {
    color: #0d6efd;
    margin-right: 10px;
}

@media screen and (max-width:430px) {
    .tweet-header {
        flex-direction: column;
    }

    .tweet-header img {
        margin-bottom: 20px;
    }

    .tweet-header-info p {
        margin-bottom: 30px;
    }

    .tweet-img-wrap {
        padding-left: 0;
    }

    .tweet-info-counts {
        display: flex;
        margin-left: 0;
    }

    .tweet-info-counts div {
        margin-right: 10px;
    }
}



body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    font-family: arial;
}

#main-content {
    display: flex;
    width: 0vw;
    height: 0vh;
    background: white;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1 {
    font-size: 14px;
    font-weight: 400;
    margin: 10px 0 0 0;
    color: #888888;
}

a {
    font-size: 17px;
    font-weight: bold;
    margin-top: 10px;
    display: inline-block;
    text-decoration: none;
    color: #1DA1F2;
}

