{% extends "layout.html" %}
{% load thumbnail %}
{% block content %}
{% for post in posts %}
<div class="tweet-wrap">
    <div class="tweet-header">
        <img src="{% thumbnail post.author.profile.photo 180x180 %}" alt="" class="avator">
        <div class="tweet-header-info">
            {{post.author}} <a href="{% url 'user_detail' post.author %}"><span>@{{post.author}}</span></a><span>.
                {{post.date_added|date:'l, F j'}}

            </span>

            <p>{{post.body|linebreaks}}</p>
        </div>
    </div>
    <div class="tweet-info-counts">
        <div class="likes">
            <div class="likes-count">
                2.6k
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock content %}