{% extends "layout.html" %}
{% block content %}
<h2>Login</h2><br>
{% if message %}
<div>{{ message }}</div>
{% endif %}
<form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <input autofocus class="form-control" type="text" name="username" placeholder="Username">
    </div><br>
    <div class="form-group">
        <input class="form-control" type="password" name="password" placeholder="Password">
    </div>
    <br>
    <input class="btn btn-primary" type="submit" value="Login">
</form>
Don't have an account? <a href="{% url 'register' %}">Register here.</a>
{% endblock content%}